html {
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    font: normal normal 400 normal 14px / normal Montserrat-Regular, Montserrat;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: rgb(64, 64, 64);
    background-color: rgb(27, 34, 67);
}

*:focus {
    box-shadow: none;
    outline: 0px solid transparent;
}

dfn, u, caption, a, del, i, var, samp, code, s, ins {
    font: normal normal 400 normal 14px / normal Montserrat-Regular, Montserrat;
    text-decoration: none;
}

a, del {
    color: rgb(4,201,255);
    text-decoration: none;
    cursor: pointer;
}

a:hover { color: rgb(129, 143, 205); }


input {
    height: 48px;
    border-radius: 4px;
    background-color: rgb(237, 249, 255);
    border: 2px solid transparent;
    width: 100%;
    padding: 0px 16px;
    box-sizing: border-box;
    font: normal normal 500 normal 14px / normal Montserrat-Medium, Montserrat;
    appearance: none;
    color: rgb(64, 64, 64);
    appearance: none;
    transition: color .3s, border-color .3s;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}
input::-webkit-input-placeholder {
    color: rgb(162, 200, 216);
}              
input::-moz-input-placeholder {
    color: rgb(162, 200, 216);
}
input::-ms-input-placeholder {
    color: rgb(162, 200, 216);
}
input::input-placeholder {
    color: rgb(162, 200, 216);
}
input:-webkit-input-placeholder {
    color: rgb(162, 200, 216);
}
input:-moz-input-placeholder {
    color: rgb(162, 200, 216);
}
input:-ms-input-placeholder {
    color: rgb(162, 200, 216);
}
input:input-placeholder {
    color: rgb(162, 200, 216);
}

input:invalid {
    border-color: rgb(255, 49, 52);
    color: rgb(255, 49, 52);
    transition: color .3s,border-color .3s;
}


h2 {
    font: normal normal 400 normal 20px / normal Montserrat-Regular, Montserrat;
    color: white;
    text-align: left
}
h2 > i { font-size: 20px; font-weight: 300; margin: 0px 16px  }


details { position: relative; }
details summary { cursor: pointer; padding: 16px; position: relative; z-index: 1 }
details > ul {
    list-style: none; position: absolute; margin: auto; padding: 16px; top: 0px; right: 0px; left: 0px;
    border: 1px solid rgb(204,204,204); border-radius: 5px; box-shadow: 3px 3px 6px rgb(172,172,172)
}
details > ul li { cursor: pointer; background-color: white; padding: 16px; margin: -8px -16px }
details > ul li:hover { background-color: rgb( 242,242,242 ) }
details > ul li:first-child { opacity: 0; margin: 0px; padding: 8px; }

button {
    height: 48px;
    border: 0 solid rgba(0, 0, 0, 0);
    background-color: rgb(242, 242, 242);
    font: normal normal 500 normal 14px/normal Montserrat-Medium,Montserrat;
    color: rgb(202, 204, 204);
    border-radius: 4px;
    padding: 0 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button.active {
    cursor: pointer;
    background-color: rgb(4, 201, 255);
    color: white;
}

button.active:hover { background-color: rgb(0, 174, 223); }

button.active:active { color: rgb(0, 108, 137); }
